@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Updock&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: rgb(18, 18, 20);
}
h1,h2{
    color: white;
}

/* Initial */
.int {
    border: 1px solid white;
    background-color: rgb(41, 41, 46);
    display: flex;
}

.int-content {
    display: flex;
    align-items: center;
}

.int-content img {
    width: 100px;
    height: 100px;
    margin: 10px 20px 10px 35px;
}

.int h1 {
    color: white;
    margin: 10px;
    font-size: 2.5rem;
}

/*Menu */
nav,
ul {
    margin: 20px;
    align-items: center;
}

li {
    display: inline;
    margin: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

/* Header */
header {
    border-bottom: 1px silver solid;
}
header a {
    color: white;
    padding: 1rem;
}
p{
    color: white;
}

footer{
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}
#user_img{
    width: 10%;
    height: 20%;
}

/* Tabela */
table{
    margin: 2px;
    width: 98%;
    }
    table, th, tr, td{
    border: 1px solid white;
    text-align: center;
    margin: 5px;
    padding:3px;
    color: white;
    }

/* Formulario */
form {
    color: white;
}

fieldset {
    background-color: #eeeeee;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    border-radius: 10%;
}
input {
    margin: 5px;
}