:root{
box-sizing: border-box;
font-size: 62.5%;
}

body{
background-color: black;
color:white;
}

h1{
  color:hsl(200,50%,50%)
}
div.data{
  margin: 20px;
  padding: 5px;
  border: 1px solid white;
}

div#form_div{
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
}
img#img-tt{
  width: 400px;
  height: 400px;
}